@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

* {
  box-sizing: border-box;
}

body h1 {
  font-family: "Kirang Haerang", cursive;
  font-size: 56px;
  text-align: center;
  margin: 0;
  background: -webkit-linear-gradient(
    rgb(41, 7, 7),
    rgb(248, 138, 138)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.imgArea {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 34px;
  position: absolute;
  bottom: 40px;
  left: 60px;
  margin: 0;
  opacity: 0;
  background: -webkit-linear-gradient(
    rgb(253, 253, 253),
    rgb(248, 138, 138)
  );
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.6s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
